# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules
mauas_jonatan_2/node_modules
mauas_jonatan_3/node_modules
mauas_jonatan_4/node_modules
ec_newmanag/node_modules
Clase1
Clase2
Clase3
Clase4

# Ignora todos los archivos de texto
#*.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache

# Ignora archivos dependencia VSC
.vscode